/* Reviews slider */

#Reviews {
      position: relative;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }
      .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-pagination-bullet{
        color: orange;
        border: 5px solid orange;
        background-color: orange;
        width: 10px;
        height: 10px;
        opacity:unset;
    }
    .swiper-pagination-bullet .swiper-pagination-bullet-active{
      background-color: orangered;
    }
    .swiper-wrapper{
      height: 450px;
      /* margin-bottom: 20px; */
    }

